# macOS system files
.DS_Store

# files from creating mac Intel executables
lyrics.spec
macIntel_lyrics.spec

# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
lyrics
lyrics.exe

# Virtual environment
venv/
env/
.env/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage

# Jupyter Notebook files
.ipynb_checkpoints

# IPython history
.ipython_history

# pip-related files
pip-log.txt
pip-delete-this-directory.txt

# Editors and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
